.banner-image {
    background-image: url('img/pexels-photo-943096.jpeg');
    background-size: cover;
}
/*home section*/

#Acceuil{
    background: linear-gradient(336deg, rgba(0, 183, 255, 0.596), rgba(0, 255, 221, 0.068) 70.71%),url('img/pexels-photo-943096.jpeg'),no-repeat; 
    background-position: center;
}
.content{
    position: relative;
}
.nav-item a{
    color:white;
    font-size: 20px;
}
.nav-item a:hover{
    color: darkgreen;
    text-decoration: underline;
    text-decoration-color: darkgreen;
    
}
#aa{
    color: darkgreen;
    
}
.btn-change{
    background: lightseagreen;
    margin-top: 20px;
    box-shadow: 0 0 1px #ccc;
    border: 0px;
    color: #fff;
}
.btn-change:hover{
    
    background: #31708f;}
.pgteam{
font-weight: lighter;
font-size: 20px;
}

.imgradii{
border-radius: 10px;
-webkit-box-shadow: -7px 5px 15px 5px #000000; 
box-shadow: -7px 5px 15px 5px #000000;
}

.fa-facebook{ 
    font-size: 50px;
    color: blue;
    padding:0 10px ;
}

.titlesection{
    text-decoration: underline;
    text-decoration-color:green;
    text-underline-position: under;
}
/*price*/



blockquote::before {
    content: open-quote;
    color: blue;
    font-size: 30px;
}
blockquote::after {
    content: close-quote;
    color: blue;
    font-size: 30px;
}
#colaa :hover
{ color: brown;}
/*COURS_HTML*/
.intro{
    margin-top: 100px;
    margin-left: 60px;
    margin-bottom: 20px;
}
.queue{
    display: flex;
    flex-direction: row;
}
.queue a :hover{
    display: none;
    text-decoration: none;
    color: #000;
}
.queue h1{
    text-align: center;
}
.video-intro{
    margin-left: 200px;
    margin-top: 50px;
}
.login-signup{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 670px;
    height: 30px;
    background-color:rgba(255,85,34,.25);
    color:black;
    font-size: 15px;
    text-align: left;
    padding: 2.5px 2.5px 2.5px;
}
.login-signup a{
    color: #000;
    width: 670px;
    height: 50px;
    }
.first-para{
    width: 670px;
    /*background-color: blueviolet;*/
    margin-left: 200px;
    margin-top: 10px;
}
.first-para p{
    font-size: large;
}
body{
    font-family: "Montserrat",sans-serif;
    font-weight: 400;
}
.educ-goals{
    margin-left:200px ;
    margin-top: 20px;
    width: 670px;
    background-color: #e6f4fa;
    padding: 10px 10px 10px 30px;
    border-radius: 5px;
}
.pre{
    margin-left: 200px;
    margin-top:20px ;
    width: 670px;
    padding: 10px 10px 10px 30px;
    background-color: #fdefe1;
    border-radius: 5px;
}
.btns{
    margin-left: 200px;
    margin-top:20px ;
    width: 670px;
    height: 100px;
    padding: 10px 10px 10px 30px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.btns btn1{
    margin-bottom: 20px;
    background-color: violet;
    
}
